@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


.button {
    border-radius: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #27BEFF;
    color: white;
    font-weight: 700;
    font-family: "Raleway";
}

.react-player__preview {
    border-radius: 20px !important;
}


.tap-highlight-transparent {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #27BEFF;
    color: white !important;;
    font-weight: 700;
}